.page-link{
    display:block;
    margin-top:20px;
    color:#0066ff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    word-break:break-word;
}

.page-link:hover{
    text-decoration:underline;
}

.developer-text{
    margin-top:10px;
    font-size:15px;
    color:#666;
}
