.website-link{
    margin-top:20px;
}

.website-link a{
    display:inline-block;
    background:#0066ff;
    color:#fff;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.website-link a:hover{
    background:#004bcc;
    transform:scale(1.05);
}
