body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#006994,#00c6ff);
    font-family: Arial, sans-serif;
}

.clock-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #006994;
}

.zone {
    color: gray;
}

#time {
    font-size: 45px;
    font-weight: bold;
    margin: 20px;
}

#date {
    font-size: 20px;
}
.page-link{
    display:inline-block;
    margin-top:20px;
    padding:12px 20px;
    background:#0066ff;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.page-link:hover{
    background:#004bcc;
    transform:scale(1.05);
}

.developer-text{
    margin-top:12px;
    color:#666;
    font-size:15px;
}
